# Configuration file
# Generated on 1/25/13 11:10 PM

####################
# general
####################

general {
    # Set to false to disable update checks for all Power Crystals' mods.
    B:EnableUpdateCheck=false
}


